.cabeza{
   
    background-color: var(--amarillo);
    padding-bottom: 2%;
}
.cabeza div ul li{
    list-style: none;
    margin-left: 2%;
}
.cabeza div ul li a{
    text-decoration: none;
    color:black;
}
.cabeza div ul{
    padding:0% ;
    margin: 0%;
    display: none;
}

.busqueda{
    margin-left: 10%;
}
.cabeza h5{
    display: flex;
  justify-content: center;
    
}
.bmenu{
    margin-left: 45%;
    margin-bottom: 10%;
    width: 10%;
    
    background-color: var(--celeste);
    
}
.bmenu i{
    
    color:white;

}
.cabeza img{
    margin: 10%;
    width: 40%;
}
@media(min-width:460px) {
    .bmenu{
        display: none;
     }
     .cabeza div ul{
        
        display: block;
        
    }
   
    .cabeza img{
        margin: 2%;
        width: 20%;
    }
 
}
@media(min-width:768px) {
    .bmenu{
       display: none;
    }
    .cabeza div ul{
        
        display: block;

    }
    ul:last-child{
        margin-bottom: 30%;
     }
    .cabeza img{
        margin: 2%;
        width: 20%;
    }
 

}